body {
  font-family: avenir;
  background: #CFE2E8;
  padding: 0px 10px;
  margin: 5px 20px;
}

header {
  margin: 0;
}

h1 {
  font-family: avenir;
  margin: 0;
  padding: 10px;
}

img {
  margin: 0;
  padding: 0;
}

nav {
  padding: 10px 0 0 0;
}
